.feature-container {
    display: flex;
    flex-direction: row;
}

.feature-intro h2 {
    background: linear-gradient(50.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    background-clip: text;
    font-size: 24px;
    -webkit-text-fill-color: transparent;
}

.feature-intro h6 {
    margin: 34px 0;
    font-size: 16px;
    color: #FF8A71;
}

.feature-des-item {
    display: flex;
    margin-left: 50px;
}

.feature-des-item h3 {
    font-size: 14px;
    justify-content: flex-start;
    margin-bottom: 24px;
    color: #81AFDD;
}

@media screen and (max-width: 1024px) {
    .feature-container {
        flex-direction: column;
    }
    .feature-des-item {
        margin-left: 0;
        flex-direction: column;
    }
}